$color-white: #fff;
$color-black: #000;
$color-dark: #202c36;
$color-dark-2: #2b3844;


$color-primary: hsl(180, 66%, 49%);
$color-primary-hover: #9ae3e3;  
$color-primary-2: hsl(257, 27%, 26%);

$color-secondary: hsl(0, 87%, 67%);

$color-gray: #848484;
$color-grayish: #fafafa;
$color-gray--2: hsl(257, 7%, 63%);   
$color-darkBlue: hsl(255, 11%, 22%);    
$color-darkViolet: hsl(260, 8%, 14%); 


$font-primary: 'Nunito Sans', sans-serif;